{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended"
  ],

  "plugins": [
    "@typescript-eslint",
    "import",
    "jsx-a11y",
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "semi": ["error", "always"],
    "no-var": "error",
    "no-unused-vars": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "camelcase": "error",
    "quotes": ["error", "single"],
    "no-duplicate-imports": "error",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "react/prop-types": [2, { "ignore": ["children"] }]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "react": {
      "version": "detect"
    }
  }
}
